body {
  color: #ffffff;
  background-color: #000080;
  text-align: center;
}

a {
  color: #f0e68c;
  text-decoration: none;
}

#title {
  margin: 20px;
}

#rabbit {
  margin: 20px;
}

.news {
  padding: 10px;
  margin: 20px auto;
  border: 6px double;
  border-color: #333333;
  border-radius: 10px;
  width: 300px;
  background-color: #4682b4;
}

.menu {
  padding: 10px;
  margin: 20px auto;
  border: 6px double;
  border-color: #333333;
  border-radius: 10px;
  width: 300px;
  background-color: #4682b4;
  line-height: 50px;
}

#accessCounter {
  padding: 20px;
}

hr {
  color: #ffffff;
  width: 80%;
}

#copyright {
  padding: 20px;
  font-size: 0.7em;
  border-top: 1px solid #ffffff;
}
