body {
  color: #ffffff;
  background-color: #000080;
}

#title {
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

#discription {
  margin-top: 50px;
  margin-bottom: 50px;
}

#memberList {
  text-align: center;
  margin-bottom: 100px;
}

.name {
  font-size: 40px;
  line-height: 10px;
}

.member {
  padding: 20px;
}

h2 {
  text-align: center;
}
