body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #000080;
  text-align: center;
}

a {
  color: #f0e68c;
  text-decoration: none;
}

#title {
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}
